# SMTP configuration for Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=admin@tntdump.com
EMAIL_PASS=wppw vvwz iozj gpyq

# reCAPTCHA (optional)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LdwRx4sAAAAANcVbCLmRFNrqoVujG8OHWvTuEnN
RECAPTCHA_SECRET_KEY=6LdwRx4sAAAAAAwd18fvHuaqVcjJHIZf3hnJjJ_K
